/.metadata/
Group Project/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Group Project/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Group Project/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
Group Project/.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
Group Project/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
Group Project/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.10.0.20181127-2120.xml
Group Project/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
Group Project/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
Group Project/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
Group Project/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
Group Project/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Group Project/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Group Project/.metadata/.plugins/org.eclipse.jdt.core/index.db
Group Project/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
Group Project/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
Group Project/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
Group Project/.settings/org.eclipse.wst.validation.prefs
Group Project/.settings/org.eclipse.wst.jsdt.ui.superType.name
Group Project/.settings/org.eclipse.wst.jsdt.ui.superType.container
Group Project/.settings/org.eclipse.wst.common.project.facet.core.xml
Group Project/.settings/org.eclipse.wst.common.component
Group Project/.settings/org.eclipse.jdt.core.prefs
Group Project/.settings/org.eclipse.jdt.apt.core.prefs
Group Project/.settings/.jsdtscope
Group Project/.metadata/version.ini
Group Project/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Group Project/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Group Project/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Group Project/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.ui.prefs
Group Project/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.frameworks.core.prefs
Group Project/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springframework.ide.eclipse.imports.prefs
Group Project/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
Group Project/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
Group Project/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
Group Project/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
Group Project/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
Group Project/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Group Project/.metadata/.plugins/org.eclipse.core.runtime/.settings/Cloud Foundry.prefs
Group Project/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Group Project/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
Group Project/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Group Project/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Group Project/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Group Project/.metadata/.log
Group Project/.metadata/.lock
Group Project/bin/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
Group Project/bin/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
Group Project/bin/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Group Project/bin/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Group Project/bin/.metadata/.plugins/org.eclipse.jdt.core/index.db
Group Project/bin/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Group Project/bin/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Group Project/bin/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Group Project/bin/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.frameworks.core.prefs
Group Project/bin/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springframework.ide.eclipse.imports.prefs
Group Project/bin/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
Group Project/bin/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
Group Project/bin/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
Group Project/bin/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
Group Project/bin/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
Group Project/bin/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Group Project/bin/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Group Project/bin/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
Group Project/bin/.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
Group Project/bin/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
Group Project/bin/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.10.0.20181127-2120.xml
Group Project/bin/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
Group Project/bin/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
Group Project/bin/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
Group Project/bin/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
Group Project/bin/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
Group Project/bin/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Group Project/bin/.metadata/.plugins/org.eclipse.core.runtime/.settings/Cloud Foundry.prefs
Group Project/bin/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Group Project/bin/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
Group Project/bin/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Group Project/bin/.metadata/version.ini
Group Project/bin/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.ui.prefs
Group Project/bin/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Group Project/bin/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Group Project/bin/.metadata/.log
Group Project/bin/.metadata/.lock
Servers/Tomcat v8.5 Server at localhost-config/web.xml
Servers/Tomcat v8.5 Server at localhost-config/tomcat-users.xml
Servers/Tomcat v8.5 Server at localhost-config/server.xml
Servers/Tomcat v8.5 Server at localhost-config/context.xml
Servers/Tomcat v8.5 Server at localhost-config/catalina.properties
Servers/Tomcat v8.5 Server at localhost-config/catalina.policy
Servers/.settings/org.eclipse.wst.server.core.prefs
Servers/.project
Group Project/bin/src/test/resources/log4j.xml
Group Project/bin/target/classes/log4j.xml
Group Project/bin/target/test-classes/log4j.xml
Group Project/bin/src/main/resources/log4j.xml
